*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}
body{
    min-height: 100vh;
    background: url("mountaintop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
nav{
    background-color: transparent;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover{
    border-bottom: 2px solid white;
} 
.aswin{
    border-bottom: none !important;
    cursor: default;
}

nav li:first-child{
    margin-right: auto;
    
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(13, 19, 115, 0.127);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menubutton{
    display: none;
}
.box{
    width: 25%;
    background-color: white;
    padding: 0;
    border-radius: 15px;
    position: absolute;
    left: 35%;
    top: 25%;
}
form{
    width: 90%;
    padding: 40px;
   
  
}
.btn-primary
{
    width: 100%;
    border: none;
    border-radius: 50px;
}

@media(max-width:800px){
    .hideonmobile{
        display: none;
    }
    .menubutton{
        display: block;
    }
}
@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}